<br/>
<form name="form0">
    <div>
        <label>* Code</label>
        <input class="form-control" type="text" name="rateMonitorCode"
               wyd-focus-on="rateMonitorCode"
               ng-model="vm.model.code"
               ng-required="true"
               minlength="3" maxlength="20"/>
        <!--
        <div ng-messages="form0.rateMonitorCode.$error" role="alert">
            <div ng-message="required">
                This is required.
            </div>
            <div ng-message="minlength, maxlength">
                This should be between 3 and 20 characters long
            </div>
        </div>
        -->
    </div>
    <div>
        <label>* Name</label>
        <input class="form-control" type="text" name="rateMonitorName"
               wyd-focus-on="rateMonitorName"
               ng-model="vm.model.name"
               minlength="5" maxlength="50"/>
        <div ng-messages="form0.rateMonitorName.$error" role="alert">
            <div ng-message="required">
                This is required.
            </div>
            <div ng-message="rateMonitorName, maxlength">
                This should be between 5 and 50 characters long
            </div>
        </div>
    </div>

    <div>
        <label>* Lower Value</label>
        <input class="form-control" type="text" name="rateMonitorLowerValue"
               wyd-focus-on="rateMonitorLowerValue"
               ng-change="vm.onLowerValue()"
               ng-model="vm.model.lowerValueS"
               input-mask="'decimal'"
               mask-option="{ allowMinus : false, 'groupSeparator' : ',', 'autoGroup': true, 'digits' : 2 }"/>
        <div ng-messages="form0.rateMonitorLowerValue.$error" role="alert">
            <div ng-message="required">
                This is required.
            </div>
        </div>
    </div>
    <div>
        <label>* Upper Value</label>
        <input class="form-control" type="text" name="rateMonitorUpperValue"
               wyd-focus-on="rateMonitorUpperValue"
               ng-change="vm.onUpperValue()"
               ng-model="vm.model.upperValueS"
               input-mask="'decimal'"
               mask-option="{ allowMinus : false, 'groupSeparator' : ',', 'autoGroup': true, 'digits' : 2 }"/>
        <div ng-messages="form0.rateMonitorUpperValue.$error" role="alert">
            <div ng-message="required">
                This is required.
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-empty btn-light float-left" ng-click="historyBack()">
            Cancel
        </button>
        <button class="btn btn-error btn-empty"
                ng-show="vm.model.id != 0"
                ng-click="vm.remove(vm.model)">
            <i class="fa fa-trash"></i> Delete
        </button>
        <button class="btn btn-empty float-right"
                   ng-disabled="vm.uiState.isBlocked"
                   ng-click="vm.save()">
            Save
        </button>
    </div>
</form>
